#Service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 88px);
  background-color: ghostwhite;
  position: relative;

  .loading-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00000030;
    touch-action: none;
    z-index: 10;
    .loading{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .description-wrapper {
    margin: 100px 0;
    padding: 0 100px;
  }

  .chat-wrapper {
    width: 100%;
    height: calc(100vh - 188px);
    background-color: ghostwhite;
    overflow-y: scroll;
    .how-to-use-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      .how-to-use-title{
        margin-bottom: 80px;
        font-size: 24px;
        font-weight: bold;
      }
      .row-wrapper{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        font-size: 18px;
        &.important{
          padding:10px;
          text-align: center;
          border-radius: 12px;
          font-weight: bold;
          background-color: lightgray;
          white-space: pre-wrap;
        }
        .example-img{
          width: 300px;
          object-fit: contain;
        }
      }
    }
    .emotion-wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      color: #313131;
      .emotion-text-box-wrapper{
        display: flex;
        align-items: center;
        .emotion-index{
          padding: 6px 10px;
          border:1px solid lightgray;
          border-radius: 12px;
        }
        .emotion-list-wrapper{
          display: flex;
          .emotion-box{
            border-radius: 12px;
            border: 1px solid gray;
            padding:6px 10px;
            background-color: #1E2231;
            color:white;
            &.main{
              background-color: #7950f7;
              font-weight: bold;
            }
            &.cursor{
              cursor:pointer;
            }
          }
        }
      }
    }

    .model-chat-row-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
    }

    .user-chat-row-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin: 20px 0;
    }

    .model-chat-row-wrapper::before {
      content: "";
      top: 50%;
      border: 8px solid transparent;
      z-index: 0;
      right: 1em;
      border-right: 12px solid lightgray;
    }

    .user-chat-row-wrapper::before {
      content: "";
      top: 50%;
      border: 8px solid transparent; /** border를 모두 투명하게 설정 **/
      z-index: 0;
      right: 1em;
      border-left: 12px solid #9f88e3;
    }

    .model-chat-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      max-width: 400px;
      min-height: 40px;
      padding: 15px 20px;
      border-radius: 15px;
      background: lightgray;
      color: black;
      font-size: 18px;
      word-break: break-all;
      line-height: 24px;

    }

    .user-chat-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      max-width: 400px;
      min-height: 40px;
      padding: 15px 20px;
      border-radius: 15px;
      background: #9f88e3;
      color: white;
      font-size: 18px;
      word-break: break-all;
      line-height: 24px;
    }
  }

  .chat-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10px;
    width: 96%;
    height: 80px;
    //background-color: white;
    padding-right: 20px;
    border-radius: 50px;
    overflow: hidden;
    background-color: #e3ddf6;

    .chat-input {
      display: flex;
      flex: 1;
      //width: 100%;
      border: none;
      background-color: transparent;
      padding: 20px 30px;
      font-size: 24px;
      &::placeholder {
        color: #7950f7;
      }
    }

    .enter-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 50px;
      border-radius: 24px;
      background-color: #7950f7;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

input:focus {
  outline: none;
}
