#Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 100px 50px 0 50px;
  .main-start-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    border: 1px solid gray;
  }
  .content-title{
    margin: 40px 0 ;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .content-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px 0;
    border:1px solid gray;
    .main-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      .service-img-wrapper{
        width: 500px;
        height: 500px;
        margin-right: 50px;
        border:1px solid gray;
        .service-img{
          width: 500px;
          object-fit: contain;
        }
      }
      .service-text{
        font-size: 40px;
        font-weight: bold;

      }
    }
    .technique-wrapper{
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
    }
    .review-wrapper{
      padding-bottom: 40px;
      .review-row-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        .review-box-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 600px;
          height: 160px;
          margin:20px;
          padding:40px 30px;
          border:1px solid gray;
          border-radius: 16px;

          .writer-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 50px;
            .img-box{
              width: 100px;
              height: 100px;
              border-radius: 100%;
              background-color: silver;
            }
            .writer-name{
              font-size: 24px;
            }
          }
          .review-text-wrapper{
            font-size: 20px;
          }
        }
      }
    }
    .contact-us-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      margin-top: 40px;
      .contact-row-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 600px;
        height: 80px;
        .name{
          margin-right: 160px;
          font-size: 24px;
          font-weight: bold;
        }
        .email{
          min-width: 260px;
          font-size: 22px;
          font-weight: bold;
          color:dimgray;
        }
      }
    }
    &.no-border{
      border: none;
    }
  }
}