#Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin : 100px 50px 0 50px;
  .main-start-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    border: 1px solid gray;
  }
  .content-title{
    margin: 40px 0 ;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  .content-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 100px 0;
    padding:40px 10px;
    border-radius: 24px;
    box-shadow:1px 2px 37px rgba(0,0,0,0.44);
    background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255, 173, 0, 0.1));
    .banner-wrapper{
      display: flex;
      justify-content: center;

      .banner-img-wrapper{
        margin-right: 50px;
        .banner-img{
          height: 700px;
          object-fit: contain;
          border-radius: 12px;
          box-shadow:1px 2px 37px rgba(0,0,0,0.44);
        }
        .banner-img:hover{
          transform:scale(1.05);
          transition : all 300ms ease-in;
        }
      }
      .banner-text-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 700px;
        .banner-text-row{
          text-align: center;
          font-size: 24px;
          padding: 20px 40px;
          background-color: rgba(192,192,192,0.15);
          border-radius: 12px;

          &.bold{
            font-size:24px;
            margin:30px 0;
          }
          .banner-text{
            background: linear-gradient(to right top, #7950f7, #ffa69e);
            color: transparent;
            -webkit-background-clip: text;
          }
        }
        .banner-text-row-result{
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          padding: 20px 40px;
          background-color: rgba(192,192,192,0.15);
          border-radius: 12px;
          box-shadow:1px 2px 37px rgba(0,0,0,0.44);

          .result-img-wrapper{
            margin-right: 30px;
            font-size: 40px;
            border-radius: 12px;
            background: linear-gradient(to right top, #7950f7, #ffa69e);
            color: transparent;
            -webkit-background-clip: text;
          }
          .banner-text{
            font-size: 60px;
            background: linear-gradient(to right top, #7950f7, #ffa69e);
            color: transparent;
            -webkit-background-clip: text;
          }
        }
      }
    }
    .service-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .service-img-wrapper{
        display: flex;
        justify-content: center;
        .service-img-box{
          display: flex;
          flex-direction: column;
          align-items: center;
          .service-img{
            height: 500px;
            object-fit: contain;
            &.small{

            }
          }
          .service-description{
            margin-top: 50px;
          }
          &.left{
            margin-right: 100px;
          }
        }
      }
      .service-text{
        margin-top: 100px;
        font-size: 40px;
        font-weight: bold;

      }
    }
    .technique-wrapper{
      display: flex;
      justify-content: center;
      padding-bottom: 40px;
    }
    .review-wrapper{
      padding-bottom: 40px;
      .review-row-wrapper{
        display: flex;
        justify-content: center;
        width: 100%;
        .review-box-wrapper{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 600px;
          height: 160px;
          margin:20px;
          padding:40px 30px;
          border:1px solid gray;
          border-radius: 16px;

          .writer-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 50px;
            .img-box{
              width: 100px;
              height: 100px;
              border-radius: 100%;
              background-color: silver;
            }
            .writer-name{
              font-size: 24px;
            }
          }
          .review-text-wrapper{
            font-size: 20px;
          }
        }
      }
    }
    .contact-us-wrapper{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 40px;
      margin-top: 40px;
      .contact-row-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 600px;
        height: 80px;
        .name{
          margin-right: 160px;
          font-size: 24px;
          font-weight: bold;
        }
        .email{
          min-width: 260px;
          font-size: 22px;
          font-weight: bold;
          color:dimgray;
        }
      }
    }
    &.no-border{
      border: none;
    }
  }
}